/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
}

.scrollbar-none {
  overflow: -moz-scrollbars-none;
} */

.font-BarlowCondensed {
  font-family: "Barlow Condensed", sans-serif;
}

.font-Caveat {
  font-family: "Caveat", cursive;
}

.font-Raleway {
  font-family: "Raleway", sans-serif;
}
