/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Roboto {
  font-family: "Roboto", sans-serif;
}
.font-RobotoCondensed {
  font-family: "Roboto Condensed", sans-serif;
}

.font-BarlowCondensed {
  font-family: "Barlow Condensed", sans-serif;
}
/* 標題格式 */
.font-Caveat {
  font-family: "Caveat", cursive;
}

.font-Raleway {
  font-family: "Raleway", sans-serif;
}

.font-Orbitron {
  font-family: "Orbitron", sans-serif;
}

.font-FugazOne {
  font-family: "Fugaz One", sans-serif;
}

.font-FjallaOne {
  font-family: "Fjalla One", sans-serif;
}
